tooltip {
  border-radius: 4px;
  padding: 2px 8px;
  background-color: $bg0;
  color: $fg2;
  font-family: Jetka Nerd Font;
  font-size: 14px;
  font-weight: 500;
}

window.bar {
  background-color: $bgd;
  color: $fg;
  font-size: 14px;
  font-family: Jetka Nerd Font;
  font-weight: 500;

  .bar-box {
    padding: 0px 16px;
  }

  .clock {
    font-size: 18px;
    font-weight: 800;
  }

  .workspaces {
  }

  .workspace-box {
    padding: 9px 0px;
  }

  .workspace-button {
    min-width: 16px;
    min-height: 16px;
    border-radius: 100%;
    background-color: $bg3;
    color: $black;
  }

  .workspace-button.active {
    background-color: $accent;
    color: $bg;
  }

  .workspace-button.occupied.active {
    background-color: $accent;
    color: $bg;
  }

  .workspace-button.occupied {
    background-color: $blue;
    color: $bg;
  }

  .volume.active {
    color: $teal;
  }

  .volume trough highlight {
    border-radius: 2px;
    background-color: $teal;
    min-height: 8px;
  }

  .volume trough {
    border-radius: 8px;
    background-color: $black;
  }

  .volume trough.active {
    background-color: $bg3;
  }

  .active-client {
    font-size: 14px;
    font-weight: 600;
  }

  .volume,
  .network,
  .nightlight,
  .bluetooth,
  .notifications {
    color: $fg2;
  }

  .nightlight.active {
    color: $orange;
  }

  .network.active {
    color: $magenta;
  }

  .bluetooth.active {
    color: $blue;
  }
}

.systray {
  .revealer {
    padding: 0px 8px;
  }
}

.systray-button {
  color: $fg3;
}
