@import "../palette.scss";

* {
  all: unset;
}

.tooltip {
  background-color: $bg;
  color: $accent;
}

.bar {
  background-color: transparent;
}

.bar-wrapper {
  padding: 2px;
  background-color: $dark;
  color: $accent;
}

.workspaces {
  font-size: 20px;
}

.workspace-entry {
  padding: 1px 8px;
  font-family: Material Icons Outline;
  color: $accent;
}

.workspace-entry.current,
.workspace-entry.current.occupied {
  font-family: Material Icons Round;
}

.workspace-entry.occupied {
  font-family: Material Icons Outlined;
}

.clock {
  font-family: Jetka;
  font-size: 18px;
  font-weight: 800;
}

.time {
  padding: 1px 12px;
  color: $fg0;
  border-radius: 4px;
}

.launcher {
  padding: 1px 16px;
  font-family: Material Icons Round;
  font-size: 18px;
  background-color: $accent;
  color: $bg;
  border-radius: 4px;
}

.power {
  padding: 1px 16px;
  font-family: Material Icons Round;
  font-size: 18px;
  background-color: $red;
  color: $bg;
  border-radius: 4px;
}

.volume {
  padding: 1px 12px;
  font-family: Material Icons Round;
  font-size: 18px;
  color: $teal;
  border-radius: 4px;
}

.volreveal {
  padding: 1px 8px;
  border-radius: 4px;
  color: $teal;
}

scale trough {
  all: unset;
  background-color: $gray;
  border-radius: 4px;
  min-height: 10px;
  min-width: 180px;
}

.volbar trough highlight {
  background-color: $teal;
  border-radius: 4px;
}

.volpercentage {
  padding-top: 1px;
  font-family: Jetka;
  font-size: 16px;
  font-weight: 800;
  color: $teal;
}

.cpu,
.memory,
.disk,
.temp,
.net {
  padding: 1px 8px;
  font-family: Material Icons Round;
  font-size: 18px;
  border-radius: 4px;
}

.cpu {
  color: $yellow;
}

.memory {
  color: $pink;
}

.disk {
  color: $blue;
}

.temp {
  color: $red;
}

// .net {
//   color: $teal;
// }

.sg-label {
  padding-left: 2px;
  font-family: Jetka;
  font-size: 14px;
  font-weight: 800;
}

.recording {
  padding: 1px 12px;
  font-family: Material Icons Round;
  font-size: 18px;
  color: $red;
  border-radius: 4px;
}

.recording-label {
  font-family: Jetka;
  font-size: 14px;
  font-weight: 800;
}

.network,
.nightlight,
.idle-inhibitor {
  padding: 1px 12px;
  font-family: Material Icons Round;
  font-size: 18px;
  border-radius: 4px;
}

.network {
  color: $blue;
}

.nightlight {
  color: $orange;
}

.idle-inhibitor {
  color: $magenta;
}
