@import "../palette.scss";

* {
  all: unset;
}

window {
  font-family: Jetka;
  font-size: 16px;
  font-weight: 600;
}

.locker {
  background-color: rgba($bg0, 0.5);
}

.lockbox {
  background-color: transparent;
  color: $white;
  border-radius: 8px;
}

.clock {
  font-size: 128px;
  font-weight: 900;
}

.time {
  padding: 0px 48px;
  background-color: $bg;
  border-radius: 8px;
  border: 2px solid $bg3;
}

.date {
  padding: 16px;
  font-family: Jetka;
  font-size: 24px;
  font-weight: 800;
  border-radius: 8px;
}

.date-day {
  color: $red;
}

.date-sep {
  font-size: 32px;
}

.date-text {
  color: $accent;
}

/* Avatar */
.avatar {
  padding: 16px;
  border-radius: 8px;
}

.avatar-image {
  border: 2px solid $accent;
  border-radius: 50%;
  background-image: url("../images/avatar.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-message {
  font-size: 18px;
  color: $accent;
}

/* Form */
.form {
  padding: 32px;
  background-color: rgba($bg0, 0.6);
  border: 2px solid $bg2;
  border-radius: 8px;
}

.form-password {
  padding: 8px 24px;
  background-color: rgba($white, 0.1);
  border-radius: 8px;
  font-size: 24px;
  letter-spacing: 8px;
}

.form-message {
  font-size: 16px;
  color: $red;
}

.form-label {
  color: $fg2;
}

/* Quote */
.quote {
  padding: 16px;
  font-family: Jetka;
  font-size: 18px;
  border-radius: 8px;
}

.quote-author {
  font-size: 16px;
  color: $accent;
}
