/* Crux Alpha Green colorscheme for eww */
/* ~/.config/eww/palette.scss */

$accent:   #a4c76f;
$dark:     #090e10;
$bg0:      #0b1114;
$bg:       #0d1418;
$bg2:      #10191e;
$bg3:      #17232a;
$bg4:      #1e2e37;
$fg0:      #eaf0f3;
$fg:       #c5d5df;
$fg2:      #9ab6c7;
$fg3:      #6e96af;
$black:    #2b424f;
$red:      #e46769;
$orange:   #e39d5f;
$yellow:   #eace60;
$green:    #a4c76f;
$teal:     #5fd7aa;
$cyan:     #42b8e6;
$blue:     #619af5;
$magenta:  #9d78d1;
$pink:     #d983d7;
$white:    #eaf0f3;
$gray:     #42667a;