/* Crux Alpha Green colorscheme for eww */
/* ~/.config/eww/palette.scss */

$accent:   #a7c080;
$dark:     #181d20;
$bg0:      #1e2427;
$bg:       #242b2f;
$bg2:      #2b3439;
$bg3:      #333d42;
$bg4:      #3a464c;
$fg0:      #eeebe9;
$fg:       #cfc7c2;
$fg2:      #b3a69e;
$fg3:      #96857a;
$black:    #45535b;
$red:      #e67e80;
$orange:   #e69875;
$yellow:   #dbbc7f;
$green:    #a7c080;
$teal:     #76cca1;
$cyan:     #76b4cc;
$blue:     #6c86db;
$magenta:  #b495d3;
$pink:     #d699b6;
$white:    #eeebe9;
$gray:     #5f727c;